Repository chmouel/gosmee: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-markdown, lint-go, test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-json
  - id: check-vcs-permalinks
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.37.0
  hooks:
    - id: yamllint
- repo: local
  hooks:
  - id: lint-markdown
    name: "Lint Markdown"
    entry: make
    args: ["lint-md"]
    language: system
    types: [markdown]
    pass_filenames: false
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false

flake.lock: Update
  flake.lock
Due: none

Red Hat Konflux update gosmee-happy Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/gosmee-happy-pull-request.yaml
  .tekton/gosmee-happy-push.yaml
Due: none

fix(deps): update module golang.org/x/text to v0.26.0
  go.mod
  go.sum
  vendor/modules.txt
Due: none

fix(deps): update module github.com/google/go-github/v57 to v72
  go.mod
Due: none

fix: Ensure only exact 'ready' body skips messages
  gosmee/client.go
Due: lint-go, test

Update deps
  go.mod
  go.sum
  vendor/github.com/lmittmann/tint/handler.go
  vendor/golang.org/x/crypto/acme/acme.go
  vendor/modules.txt
Due: none

Brew formula update for gosmee version v0.26.1
  Formula/gosmee.rb
Due: none

fix(deps): update golang.org/x/exp digest to b7579e2
  go.mod
  go.sum
  vendor/modules.txt
Due: none

fix(deps): update module github.com/urfave/cli/v2 to v3
  go.mod
Due: none

fix(deps): update module gopkg.in/cenkalti/backoff.v1 to v5
  go.mod
Due: none

fix(deps): update module github.com/google/go-github/v57 to v73
  go.mod
Due: none

docs: mention smee-sidecar as a method for mitigating caveats
  README.md
Due: lint-markdown

fix(deps): update module github.com/google/go-github/v57 to v74
  go.mod
Due: none

chore: Update Go module dependencies and sync vendored code
  go.mod
  go.sum
  vendor/github.com/xrash/smetrics/jaro.go
  vendor/golang.org/x/crypto/acme/acme.go
  vendor/golang.org/x/crypto/acme/types.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux_386.go
  vendor/golang.org/x/sys/unix/ztypes_linux_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_loong64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mipsle.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_s390x.go
  vendor/golang.org/x/sys/unix/ztypes_linux_sparc64.go
  vendor/modules.txt
Due: none

feat: Introduce httpie option for replay scripts
  gosmee/app.go
  gosmee/client.go
  gosmee/flags.go
  gosmee/templates/replay_script.tmpl.httpie.bash
Due: lint-go, test

refactor: fix linter
  gosmee/client.go
  gosmee/client_test.go
  gosmee/interface.go
  gosmee/replay.go
Due: lint-go, test

Use strconv.Quote
  gosmee/client.go
Due: lint-go, test

Brew formula update for gosmee version v0.27.0
  Formula/gosmee.rb
Due: none

docs: Document HTTPie client support, script options
  README.md
Due: lint-markdown

feat: Introduce configurable payload and SSE buffer limits
  README.md
  gosmee/app.go
  gosmee/client.go
  gosmee/flags.go
  gosmee/server.go
  gosmee/server_test.go
  misc/gosmee-client-deployment.yaml
  misc/gosmee-server-deployment.yaml
Due: lint-markdown, lint-go, test

Brew formula update for gosmee version v0.28.0
  Formula/gosmee.rb
Due: none
