Repository chmouel/gosmee: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-markdown, lint-go, test

lint-markdown:
  name: Lint Markdown
  entry: make
  args:
  - lint-md
  language: system
  pass_filenames: false

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

security: fix TLS certificate check being silently disabled by default
  gosmee/client.go
  gosmee/client_test.go
Due: lint-go, test

security: prevent malicious webhook headers from injecting code into the browser UI
  gosmee/templates/index.tmpl
Due: none

security: switch HTML page rendering to use Go's safer template engine
  gosmee/server.go
  gosmee/server_test.go
Due: lint-go, test

security: stop leaking secrets to shell commands run by --exec
  gosmee/app.go
  gosmee/client.go
  gosmee/client_test.go
  gosmee/replay.go
Due: lint-go, test

docs: document new security flags added by recent fixes
  README.md
  SECURITY.md
  gosmee/flags.go
  gosmee/server.go
  gosmee/server_test.go
  gosmee/templates/index.tmpl
Due: lint-markdown, lint-go, test

security: protect the replay endpoint with an optional bearer token
  gosmee/flags.go
  gosmee/server.go
  gosmee/server_test.go
  gosmee/templates/index.tmpl
Due: lint-go, test

security: allow restricting which websites can connect to the event stream
  gosmee/flags.go
  gosmee/server.go
  gosmee/server_test.go
Due: lint-go, test

feat: Add AI-powered release notes generation
  .github/workflows/releaser.yaml
  hack/generate-release-notes.sh
Due: none

chore: add security section to release notes template
  hack/generate-release-notes.sh
Due: none

Brew formula update for gosmee version v0.31.1
  Formula/gosmee.rb
Due: none

fix: exclude vendor directory from release notes generation
  hack/generate-release-notes.sh
Due: none

fix: clarify trust-proxy security requirements and proxy configuration
  README.md
  SECURITY.md
Due: lint-markdown

chore: filter build workflow to relevant files
  .github/workflows/build.yml
Due: none

feat: prevent shell injection in webhook replay scripts
  gosmee/client.go
  gosmee/client_test.go
  gosmee/templates/replay_script.tmpl.bash
  gosmee/templates/replay_script.tmpl.httpie.bash
Due: lint-go, test

chore: upgrade golang.org dependencies
  go.mod
  go.sum
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux_386.go
  vendor/golang.org/x/sys/unix/ztypes_linux_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_loong64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mipsle.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_s390x.go
  vendor/golang.org/x/sys/unix/ztypes_linux_sparc64.go
  vendor/modules.txt
Due: none

feat: Add YAML configuration file support
  README.md
  config.example.yaml
  go.mod
  go.sum
  gosmee/app.go
  gosmee/client.go
  gosmee/client_test.go
  gosmee/config.go
  gosmee/config_test.go
  gosmee/crypto.go
  gosmee/flags.go
  gosmee/replay.go
  vendor/gopkg.in/yaml.v3/LICENSE
  vendor/gopkg.in/yaml.v3/NOTICE
  vendor/gopkg.in/yaml.v3/README.md
  vendor/gopkg.in/yaml.v3/apic.go
  vendor/gopkg.in/yaml.v3/decode.go
  vendor/gopkg.in/yaml.v3/emitterc.go
  vendor/gopkg.in/yaml.v3/encode.go
  vendor/gopkg.in/yaml.v3/parserc.go
  vendor/gopkg.in/yaml.v3/readerc.go
  vendor/gopkg.in/yaml.v3/resolve.go
  vendor/gopkg.in/yaml.v3/scannerc.go
  vendor/gopkg.in/yaml.v3/sorter.go
  vendor/gopkg.in/yaml.v3/writerc.go
  vendor/gopkg.in/yaml.v3/yaml.go
  vendor/gopkg.in/yaml.v3/yamlh.go
  vendor/gopkg.in/yaml.v3/yamlprivateh.go
  vendor/modules.txt
Due: lint-markdown, lint-go, test

chore: group all GitHub Actions dependencies
  .github/dependabot.yml
Due: none

feat: Support configurable log levels with target retries
  README.md
  config.example.yaml
  gosmee/app.go
  gosmee/client.go
  gosmee/client_resume_test.go
  gosmee/client_review_test.go
  gosmee/client_test.go
  gosmee/config.go
  gosmee/flags.go
  gosmee/redis_stream_test.go
  gosmee/replay.go
  gosmee/server.go
  gosmee/server_relay.go
  gosmee/server_review_test.go
Due: lint-markdown, lint-go, test

Brew formula update for gosmee version v0.32.0
  Formula/gosmee.rb
Due: none

feat: update goreleaser configuration to v2 format
  .goreleaser.yml
Due: none

feat: allow slashes in channel paths
  README.md
  SECURITY.md
  gosmee/channel_path_test.go
  gosmee/client.go
  gosmee/client_test.go
  gosmee/protected_channels_test.go
  gosmee/redis_integration_test.go
  gosmee/redis_stream_test.go
  gosmee/server.go
  gosmee/server_review_test.go
  gosmee/server_test.go
  gosmee/templates/index.tmpl
Due: lint-markdown, lint-go, test

Remove non-public/insymetri workflows
  .github/workflows/build.yml
  .github/workflows/issue-autoclose.yml
  .github/workflows/releaser.yaml
Due: none

docs: Update author section with a GitHub sponsor badge
  README.md
Due: lint-markdown

fix: Update console logger to use text handler for output
  gosmee/app.go
Due: lint-go, test

chore: replace dependabot with weekly maintenance workflow
  .github/dependabot.yml
  .github/workflows/weekly.yml
Due: none

chore: Remove automated coverage badge generation from workflow
  .github/workflows/weekly.yml
Due: none

chore: weekly maintenance update
  go.mod
  go.sum
Due: none

feat: Add support for RISC-V 64 architecture in crypto library
  vendor/golang.org/x/crypto/acme/types.go
  vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_asm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_riscv64.s
  vendor/modules.txt
Due: none

chore: Update dependencies and vendor dependencies in weekly workflow
  .github/workflows/weekly.yml
Due: none

Update GitHub Sponsors username in FUNDING.yml
  .github/FUNDING.yml
Due: none

feat: add a helm chart for the gosmee server
  .github/workflows/build.yml
  .github/workflows/helm.yml
  .github/workflows/releaser.yaml
  .yamllint
  README.md
  charts/gosmee/.helmignore
  charts/gosmee/Chart.yaml
  charts/gosmee/README.md
  charts/gosmee/ci/default-values.yaml
  charts/gosmee/ci/encrypted-channels-values.yaml
  charts/gosmee/ci/existing-secret-values.yaml
  charts/gosmee/ci/httproute-values.yaml
  charts/gosmee/ci/ingress-values.yaml
  charts/gosmee/ci/redis-values.yaml
  charts/gosmee/templates/NOTES.txt
  charts/gosmee/templates/_helpers.tpl
  charts/gosmee/templates/deployment.yaml
  charts/gosmee/templates/httproute.yaml
  charts/gosmee/templates/ingress.yaml
  charts/gosmee/templates/poddisruptionbudget.yaml
  charts/gosmee/templates/secret-encrypted-channels.yaml
  charts/gosmee/templates/secret.yaml
  charts/gosmee/templates/service.yaml
  charts/gosmee/templates/serviceaccount.yaml
  charts/gosmee/templates/tests/test-connection.yaml
  charts/gosmee/values.yaml
Due: lint-markdown

Path conditions:
  lint-markdown: any of: \.(md|markdown|mdown)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-go: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  test: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
