Repository chmouel/gosmee: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-markdown, lint-go, test

lint-markdown:
  name: Lint Markdown
  entry: make
  args:
  - lint-md
  language: system
  pass_filenames: false

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

Brew formula update for gosmee version v0.28.3
  Formula/gosmee.rb
Due: none

flake.lock: Update
  flake.lock
Due: none

Update README to simplify logo display
  README.md
Due: lint-markdown

Replace gosmee logo in README.md
  README.md
Due: lint-markdown

Increase logo width in README
  README.md
Due: lint-markdown

Update logo image in README.md
  README.md
Due: lint-markdown

chore: Update dependencies to latest versions
  go.mod
  go.sum
  vendor/github.com/go-chi/chi/v5/chi.go
  vendor/github.com/go-chi/chi/v5/middleware/content_charset.go
  vendor/github.com/go-chi/chi/v5/middleware/request_id.go
  vendor/github.com/go-chi/chi/v5/middleware/strip.go
  vendor/github.com/go-chi/chi/v5/mux.go
  vendor/github.com/go-chi/chi/v5/path_value.go
  vendor/github.com/go-chi/chi/v5/path_value_fallback.go
  vendor/github.com/go-chi/chi/v5/tree.go
  vendor/github.com/google/go-querystring/query/encode.go
  vendor/modules.txt
Due: none

docs: Update README with new sections and phrasing
  README.md
Due: lint-markdown

Change cron schedule for flake lock update
  .github/workflows/nix-auto-update.yaml
Due: none

feat: Add shell command execution support via --exec flag
  README.md
  gosmee/app.go
  gosmee/client.go
  gosmee/client_test.go
  gosmee/flags.go
  gosmee/replay.go
Due: lint-markdown, lint-go, test

fix: fix some gosec warnings and use fmt.Fprintf instead of WriteString
  gosmee/app.go
  gosmee/client.go
  gosmee/server.go
Due: lint-go, test

chore: Add MD060 rule to markdownlint
  .markdownlint.json
Due: none

chore: Update vendor dependencies
  go.mod
  go.sum
  vendor/github.com/go-chi/chi/v5/middleware/route_headers.go
  vendor/github.com/lmittmann/tint/handler.go
  vendor/golang.org/x/sys/unix/ioctl_signed.go
  vendor/golang.org/x/sys/unix/ioctl_unsigned.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/syscall_unix.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/golang.org/x/text/cases/tables10.0.0.go
  vendor/golang.org/x/text/cases/tables11.0.0.go
  vendor/golang.org/x/text/cases/tables12.0.0.go
  vendor/golang.org/x/text/cases/tables13.0.0.go
  vendor/golang.org/x/text/cases/tables15.0.0.go
  vendor/golang.org/x/text/cases/tables17.0.0.go
  vendor/golang.org/x/text/secure/bidirule/bidirule.go
  vendor/golang.org/x/text/secure/bidirule/bidirule10.0.0.go
  vendor/golang.org/x/text/secure/bidirule/bidirule9.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables10.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables11.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables12.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables13.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables17.0.0.go
  vendor/golang.org/x/text/unicode/bidi/tables9.0.0.go
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/golang.org/x/text/unicode/norm/tables10.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables11.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables12.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables15.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables17.0.0.go
  vendor/golang.org/x/text/unicode/norm/tables9.0.0.go
  vendor/modules.txt
Due: none

feat: Pass payload and headers via files to exec command
  README.md
  gosmee/app.go
  gosmee/client.go
  gosmee/client_test.go
  gosmee/flags.go
Due: lint-markdown, lint-go, test

Brew formula update for gosmee version v0.29.0
  Formula/gosmee.rb
Due: none

test: update request creation in signature validation tests
  gosmee/server_test.go
Due: lint-go, test

docs: migrate security documentation to dedicated file
  README.md
  SECURITY.md
Due: lint-markdown

Brew formula update for gosmee version v0.30.0
  Formula/gosmee.rb
Due: none

chore: upgrade go version and dependencies
  go.mod
  go.sum
  vendor/golang.org/x/crypto/acme/autocert/autocert.go
  vendor/golang.org/x/crypto/acme/rfc8555.go
  vendor/golang.org/x/sys/cpu/asm_darwin_arm64_gc.s
  vendor/golang.org/x/sys/cpu/cpu_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_darwin_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_darwin_arm64_other.go
  vendor/golang.org/x/sys/cpu/cpu_gccgo_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_other_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_windows_arm64.go
  vendor/golang.org/x/sys/cpu/syscall_darwin_arm64_gc.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/aliases.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/modules.txt
Due: none

chore: remove Nix flake configuration
  .github/workflows/nix-auto-update.yaml
  .github/workflows/nix.yml
  flake.lock
  flake.nix
Due: none

style: update index template to dark theme
  gosmee/templates/index.tmpl
Due: none

Brew formula update for gosmee version v0.31.0
  Formula/gosmee.rb
Due: none

chore: replace gomodguard with gomodguard_v2 and remove exp/slices
  .golangci.yml
  gosmee/client_test.go
Due: lint-go, test

docs: document new security flags added by recent fixes
  README.md
  SECURITY.md
  gosmee/flags.go
  gosmee/server.go
  gosmee/server_test.go
  gosmee/templates/index.tmpl
Due: lint-markdown, lint-go, test

security: protect the replay endpoint with an optional bearer token
  gosmee/flags.go
  gosmee/server.go
  gosmee/server_test.go
  gosmee/templates/index.tmpl
Due: lint-go, test

security: allow restricting which websites can connect to the event stream
  gosmee/flags.go
  gosmee/server.go
  gosmee/server_test.go
Due: lint-go, test

Path conditions:
  lint-markdown: any of: \.(md|markdown|mdown)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-go: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  test: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
